/*Google Icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*---------------FlexBox Layout-------------*/
.sustFlex {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.sustFlex > h1 {
    font-size: 30pt;
}
.sustFlex > p {
    width: 70%;
    margin-bottom: 50px;
    font-size: 13.5pt;
}
.sustFlex > img {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.sustContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #9ecfd2;
    margin-top: 20px;
    border-radius: 10px;
}

.sustImg {
    width: 30%;
}
.sustImg > img {
    width: 100%;
    border-radius: 5px;
}

.sustText {
    display:flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 60%;
}
.sustText > h2 {
    font-size: 15pt;
}
.sustText > ul {
    list-style-type: circle;
    margin: 0;
    padding: 0;    
    font-size: 11pt;
}

/*-----------JavaScript Section style --------------*/
.jsMain {
    background-color: white;
    width: 70%;
    border-radius: 100px;
    border: solid 1px black;
    margin: 100px auto;

}
.jsSection {
    height: 1000px;
    position: relative;
}

/*Input styling*/
.jsSection > div > h3 {
    font-size: 11pt;
}
.jsSection > div > p {
    font-size: 11pt;
    background-color: rgb(181, 197, 201);
    padding: 5px;
    text-align: center;
}
#transportP {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
span.material-symbols-outlined {
    display:none;
}

/*--------------------InputBox Positioning----------------------*/
.jsSection > img {
    position: absolute;
    left: 37%;
    top:30%;
    border-radius: 50px;
}
.sustInput1 { /*transport - TopRight*/
    position: absolute;
    max-width: 150px;
    left: 67%;
    top:17%;
}
.sustInput2 { /*charity - Top*/
    position: absolute;
    max-width: 150px;
    left: 42%;
    top:12%;
}
.sustInput3 { /*clothes - BotLeft*/
    position: absolute;
    max-width: 150px;
    left: 17%;
    top:62%;
}
.sustInput4 { /*building - midright*/
    position: absolute;
    max-width: 150px;
    left: 67%;
    top:41%;
}
.sustInput5 { /*shoes - Bot*/
    position: absolute;
    max-width: 150px;
    left: 42%;
    top:76%;
}
.sustInput6 { /*Litter - BotRight*/
    position: absolute;
    max-width: 150px;
    left: 67%;
    top:67%;
}
.sustInput7 { /*gear - TopLeft*/
    position: absolute;
    max-width: 150px;
    left: 17%;
    top:20%;
}

#resultsBarH {
    position: absolute;
    left: 20.5%;
    margin: 0;
}
/*----results bar----*/
.resultsBarBackgroundDiv {
    position: absolute;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(211, 221, 211);
    width: 60%;
    top: 6%;
    left: 20%;
}
#resultsBarDiv {
    position: absolute;
    height: 10px;
    border-radius: 15px;
    background-color: green;
    width: 2%;
    top: 6%;
    left: 20%;

}
#resultsBarResponseText {
    display: none;
    background-color: rgb(211, 221, 211);
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    top:6.5%;
    left: 19%;
}
.submitBtn1 { /*rightbot*/
    padding: 10px;
    background-color: rgb(181, 197, 201);
    border-radius: 5px;
    position: absolute;
    left:67.6%;
    top: 94%;
    font-weight: bold;
}
.submitBtn2 { /*topleft*/
    padding: 10px;
    background-color: rgb(181, 197, 201);
    border-radius: 5px;
    position: absolute;
    left:23%;
    top: 15%;
    font-weight: bold;
}
.submitBtn:hover {
    color:green;
}


/*--------------------Tablet Responsivity----------------------*/
@media screen and (max-width: 768px) {
    .jsSection > img {
        left: 28%;
        top:28%;
    }
    .sustInput1 { /*transport*/
        max-width: 150px;
        left: 69%;
        top:15%;
    }
    .sustInput2 { /*charity - Top*/
        max-width: 150px;
        left: 36%;
        top:10%;
    }
    .sustInput3 { /*clothes - BotLeft*/
        max-width: 150px;
        left: 3%;
        top:60%;
    }
    .sustInput4 { /*building*/
        max-width: 150px;
        left: 69%;
        top:39%;
    }
    .sustInput5 { /*shoes - Bot*/
        max-width: 150px;
        left: 36%;
        top:74%;
    }
    .sustInput6 { /*Litter - BotRight*/
        max-width: 150px;
        left: 69%;
        top:65%;
    }
    .sustInput7 { /*gear - TopLeft*/
        max-width: 150px;
        left: 3%;
        top:18%;
    }
    
    #resultsBarH {
        top: 0.5%;
        left: 14%;
    }
    #resultsBarH > h2 {
        font-size: 17pt;
    }
    /*----results bar----*/
    .resultsBarBackgroundDiv {
        top: 6%;
        left: 20%;
    }
    #resultsBarDiv {
        top: 6%;
        left: 20%;    
    }
    #resultsBarResponseText {
        top:6.5%;
        left: 10%;
    }
    .submitBtn1 {
        left:69%;
        top: 92%;
    }
    .submitBtn2 {
        left:18%;
        top: 13%;
    }
    
}

/*--------------------Phone Responsivity----------------------*/
@media screen and (max-width: 600px) {
    .jsMain {
        width: 90%;
        margin: 100px auto;
    
    }
    .jsSection {
        height: 600px;
        position: relative;
    }
    h1, p{
        text-align: center;
    }

    /*JS QUIZ*/
    /*----results bar----*/
    #resultsBarH {
        text-align: center;
        max-width: 220px;
        top: 0%;
        left: 20.5%;
    }
    #resultsBarH > h2 {
        font-size: 16pt;
    }
    .resultsBarBackgroundDiv {
        top: 12%;
    }
    #resultsBarDiv {
        top: 12%;
    }
    #resultsBarResponseText {
        top:13%;
        left: 11%;
        font-size: 8pt;
    }
    /*img*/
    .jsSection > img {
        width: 180px;
        left: 5%;
        top:22%;
    }
    /*Input Boxes*/
    .jsSection > div > h3 {
        font-size: 8pt;
        margin: 0;
    }
    .jsSection > div > p {
        font-size: 9pt;
        background-color: rgb(181, 197, 201);
        padding: 0px;
        text-align: center;
        margin: 5px 0 ;
    }
    .sustInput1 { /*transport*/
        width: 120px;
        left: 55%;
        top:18%;
    }
    fieldset {
        display: none;
    }

    .sustInput2 { /*charity - Top*/
        width: 120px;
        left: 55%;
        top:26%;
    }

    .sustInput3 { /*clothes - BotLeft*/
        width: 120px;
        left: 55%;
        top:38%;
    }

    .sustInput4 { /*building*/
        width: 120px;
        left: 55%;
        top:48%;
    }

    .sustInput5 { /*shoes - Bot*/
        width: 120px;
        left: 55%;
        top:58%;
    }

    .sustInput6 { /*Litter - BotRight*/
        width: 120px;
        left: 55%;
        top:70%;
    }

    .sustInput7 { /*gear - TopLeft*/
        width: 120px;
        left: 55%;
        top:80%;
    }

    
    .submitBtn1 {
        font-size: 8pt;
        padding:5px;
        left:69%;
        top: 92%;
        display: none;
    }

    .submitBtn2 {
        font-size: 8pt;
        padding:5px;
        left:18%;
        top: 13%;
        display: none;
    }

    
}